<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414414311995-bko23fdnuah73fm8h4r03f3bvl1l4r90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414414311995-bko23fdnuah73fm8h4r03f3bvl1l4r90</string>
	<key>API_KEY</key>
	<string>AIzaSyCVBQRXE3Vk_RAdq8sG7_vrUnM9qGdV-lg</string>
	<key>GCM_SENDER_ID</key>
	<string>414414311995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mydev</string>
	<key>PROJECT_ID</key>
	<string>wuuthrad-b73d5</string>
	<key>STORAGE_BUCKET</key>
	<string>wuuthrad-b73d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414414311995:ios:cf35bf04513ac155b7421e</string>
</dict>
</plist>